<div class="page-container">
  <div class="background-blobs">
    <div class="blob blob-top"></div>
    <div class="blob blob-bottom"></div>
  </div>
  <div id="i8ozq" class="login-card">
    <img
      id="ioere"
      src="assets/images/welli-logo.png" alt="Welli Logo"
      class="login-logo"
    />
    <div id="imcvt" class="text-center">
      <h1 id="iqi5i">Bentornato!</h1>
      <p id="icbb4">Accedi per continuare il tuo viaggio.</p>
    </div>

    <form (ngSubmit)="handleLogin()" #loginForm="ngForm">
      <label id="i9xik">
        <p id="ipaig">Email</p>
        <input
          type="email"
          placeholder="Enter your email"
          autocomplete="email"
          id="icmhk"
          [(ngModel)]="loginData.email"
          name="email"
          required
        />
      </label>

      <label id="iukzz">
        <p id="iahhl">Password</p>
        <div class="password-field">
          <input
            [type]="passwordFieldType"
            placeholder="Enter your password"
            id="iivm1"
            autocomplete="current-password"
            [(ngModel)]="loginData.password"
            name="password"
            required
            #passwordField
          />
          <div class="show-password" (click)="togglePasswordVisibility()">
            <span class="material-symbols-outlined" #toggleIcon>visibility</span>
          </div>
        </div>
      </label>


      <div *ngIf="errorMessage" class="error-message-container">
        <p class="error-message-text">{{ errorMessage }}</p>
      </div>

      <button type="submit" id="irdyd" [disabled]="!loginForm.valid">Accedi</button>
    </form>

    <p id="ib6tn" class="signup-text">
      Non hai un account? <a routerLink="/register">Registrati</a>
    </p>
  </div>
</div>

<style>
  .error-message-container {
    color: #D8000C;
    background-color: #FFD2D2;
    border: 1px solid #D8000C;
    border-radius: 5px;
    padding: 10px;
    margin-top: 15px;
    text-align: center;
  }
  .error-message-text {
    margin: 0;
  }
</style>
